* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
    /*agregado lo que sigue*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}


/*    **** MENU PRINCIPAL ****    */
/* BARRA SUPERIOR */
.barraMenu {
    width: 100%;
    height: 30px;
    background-color: rgb(5, 83, 83);
    line-height: 30px; /*centra el texto agregando espacio vacio arriba y abajo*/
    position:fixed;/*mantiene la barraMenu siempre visible cuando hay scroll hacia abajo*/
    z-index:100; /*para que quede por encima de los items en la animacion */
}

.barraMenu-Izq {
    width: 90%;
    height: 30px;
    text-align: center;
    float: left;
}

.barraMenu-Der {
    width: 10%;
    height: 30px;
    text-align: center;
    float: right;
    cursor: pointer;
}
/* BARRA SUPERIOR */

/* MENU OPCIONES */
.main-menu {
    list-style: none;
   background-color: rgb(5, 83, 83);

   /*esconder el mainMenu*/
   position:absolute;
   top:-200px; /*se sale el menu de la pantalla hacia arriba*/
   overflow: hidden; /*que sea invisible lo que se sale de la pantalla*/

   width:100%; /*para que ocupe todo el ancho del contenedor*/
   z-index: 10; /*para que quede debajo de la barraMenu*/
}


.visible{
    animation-name: aparecer; /*nombre de la animacion*/
    animation-duration: 1s;/*duracion*/
    animation-fill-mode: forwards;/*esto indica el estado final, en este caso forwards
    le dice que quede como queda cuando keyframes llega al 100%, sino la animacion 
    vuelve al inicio y queda como estaba antes de iniciar(main-menu escondida)*/
}
@keyframes aparecer {
   /*al llegar al 100% top tiene que tener 30px y position relative para que empuje
   el contenido que sigue*/
    100%{
        top:30px; 
        position:relative;
    }
} 

.main-menu-item {
    text-align: center;
    padding: 0.5em;
}

.main-menu-item__link {
    text-decoration: none;
    color: rgb(4, 4, 48);
    font-weight: bold;
}

.hidden-item-menu {
    display: none;
}

.visible-item-menu {
    display: block;
}

.icon-item-menu {
    margin-right: 1em   ;
}
/* MENU OPCIONES */
/*    **** MENU PRINCIPAL ****    */


/*    **** ARTICULOS ****    */

.article-history {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: wheat;
}

.article-services {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.article-products {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: wheat;
}
/*    **** ARTICULOS ****    */


/*    **** PIE DE PAGINA ****    */
.footer {
    background-color: rgb(121, 109, 109);
    color: black;
    padding: 0.2em;
}

.footer-items-menu__link {
    text-decoration: none;
    color: rgb(97, 26, 26);
    font-weight: bold;
}

.footer-items-menu, .footer-contact_name, .footer-contact_phone, .footer-contact_email {
    text-align: center;
}
/*    **** PIE DE PAGINA ****    */